:root {
  --white: #fcfcfd;
  --text-black: #000000;
  --gray: #bdbdbd;
  --light-gray: #ddd;
  --light-blue: #a5ddff;
}

body {
  background-color: var(--light-blue);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 10px;
}

.container {
  background-color: var(--white);
  width: 85%;
  padding: 30px;
  margin: 15px auto;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
}

.navbar {
  background-color: var(--light-gray);
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

.navbar nav ul {
  list-style: none;       
  margin: 0px;
  padding: 0px;
  display: flex;          
  gap: 20px;              
}

.navbar nav li {
  margin: 0px;
}

.navbar nav a {
  display: block;        
  height: 55px;
  padding: 15px;
  background-color: transparent;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--text-black);
  display: flex;         
  align-items: center;
}

.navbar nav a:hover {
  background-color: var(--gray);
}

.footer {
  text-align: center;
  margin-top: 25px;
  padding: 15px;
  background-color: var(--light-gray);
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

.footer a:hover {
  background-color: var(--gray);
}

.contact-information a:hover {
  background-color: var(--light-gray);
}

.projects a:hover {
  background-color: var(--light-gray);
}

.professional-objective span {
  display: block;
}

.education span {
  display: block;
}

.circle-crop {
  border-radius: 50%;
  border: 3px solid var(--gray);
  display: block;
  margin-left: 0;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 7px; 
}


