:root {
  --white-darker: #f4f8fb;
  --white: #fcfcfd;
  --temp-green: #0bba60;
  --green-darker: #099A4F;
  --dark-green: #066836;
  --dark-green-lighter: #088745;
  --text-black: #000000;
  --gray: #bdbdbd;
}

body {
  background-color: var(--white);
  background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

.container {
  width: 90%;
  margin: 20px auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  flex: 1 1 300px;
  margin: 10px;
  padding: 20px;
  background-color: #f0f0f0;
}


nav .navbar{
  margin-left: 30px;
  display: flex;
  flex-direction: row;
}

nav td{
  padding-left: 10px;
  padding-right: 10px;
}
nav td:hover{
  background-color: var(--gray);
  
}

nav table{
  border-collapse: collapse;
}

nav a{
  height: 55px;
  box-sizing: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  text-decoration: none;
  color:inherit;
}
  
.footer {
    text-align: center;
    padding: 15px;
    background: #ddd;
}